BODY {
  background-color: #e8e8f0;
}

FONT.title {
  font-family: georgia, sans-serif, verdana, helvetica;
  font-size: 22px;
  font-weight: bold;
}

FONT.subtitle {
  font-family: georgia, sans-serif, verdana, helvetica;
  font-size: 12px;
  font-weight: normal;
  color: #aaaab8;
}

DIV.screen {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: #ffffff;
  width: 192px;
  height: 192px;
}

TEXTAREA.code {
  margin: 0px 0px 0px 0px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 400px;
  height: 194px;
  font-family: courier, fixed, system;
  font-size: 10px;
  overflow: auto;
}

INPUT,SELECT {
  width: 85px;
  height: 22px;
  font-family: arial, georgia, verdana, sans-serif;
  font-size: 12px;
  background-color: #ccccd0;
}

INPUT:hover,SELECT:hover { 
  background-color: #f0f0e8;
}

TD.screen {
  width: 6px;
  height: 6px;
  padding: 0px;
}

TABLE.screen {
  border-spacing: 0px;
}

P.helphead {
  font-family: georgia, sans-serif, verdana, helvetica;
  font-size: 18px;
  font-weight: bold;
}

P.helptext {
  font-family: georgia, sans-serif, verdana, helvetica;
  font-size: 12px;
  font-weight: normal;
  text-align: justify;
}

DIV.messages {
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  background-color: #e8e8f0;
  overflow: auto;
  width: 596px;
  height: 500px;
  text-align: left;
  font-family: georgia, sans-serif, verdana, helvetica;
  font-size: 12px;
  color: #444444;
}

DIV.cursor {
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 2px;
  font-family: georgia, sans-serif, verdana, helvetica;
  font-size: 10px;
  color: #444444;
}

INPUT.paypal {
  width: 110px;
  height: 23px;
}

FONT.paypal {
  font-family: georgia, sans-serif, verdana, helvetica;
  font-size: 10px;
  color: #444444;
}

FONT.version {
  font-family: georgia, sans-serif, verdana, helvetica;
  font-size: 10px;
  color: #ff6666;
  font-weight: bold;
}